@mixin h-font($fsize) {
  font-size: $fsize;
  font-weight: bold;
  text-align: center;
  line-height: 2;
  @include mq {
    line-height: 1.5;
  }
}

html {
  font-family: "Noto Sans JP", sans-serif;
  color: $f-color;
  font-size: 20px;
}

body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  line-height: 2;
}

p {
  font-size: 16px;
  @include mq-sp {
    font-size: 3vw;
  }
}

a {
  display: inline-block;
  text-decoration: none;
  color: $f-color;
}

a:hover {
  opacity: 0.7;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  @include h-font(50px);
  margin-bottom: 20px;
}

h2 {
  @include h-font(50px);
  @include mq-sp {
    font-size: 10vw;
  }
}

h3 {
  @include h-font(30px);
  margin-bottom: 20px;
  @include mq {
    font-size: 3vw;
  }
  @include mq-sp {
    font-size: 6vw;
  }
}

._pc {
  @include mq {
    display: none;
  }
}

._sp {
  display: none;
  @include mq {
    display: block;
  }
}
