header {
  width: 100%;
  position: fixed;
  top: 0;
  background: #585656;
  box-shadow: 0 0 8px grey;
  z-index: 9999;
  .header-inner {
    max-width: $pc-size;
    width: 100%;
    margin: 0 auto;
    height: 80px;
    position: relative;
    @include flex;
  }
}

.header-logo {
  padding: 0 5px;
  line-height: 1;
  @include mq {
    padding: 0 10px;
  }
  a {
    line-height: 1;
  }
  img {
    width: 60px;
    @include mq {
      width: 45px;
    }
  }
}
